Repository lee-ji-an/Algorithm_Study, pull requests merged in 2023-03, with the labels that each got.

#89 week10_oroko
  BOJ/BF/2580/oroko/P2580.java
  BOJ/BF/2580/oroko/README.md
  BOJ/BFS/2573/oroko/P2573.java
  BOJ/BFS/2573/oroko/README.md
  BOJ/BFS/2636/oroko/P2636.java
  BOJ/BFS/2636/oroko/README.md
  BOJ/BFS/2668/oroko/P2668.java
  BOJ/BFS/2668/oroko/README.md
  BOJ/BFS/7569/oroko/P7569.java
  BOJ/BFS/7569/oroko/README.md
  BOJ/BFS/9205/oroko/P9205.java
  BOJ/BFS/9205/oroko/README.md
  BOJ/Simulation/20061/oroko/P20061.java
  BOJ/Simulation/20061/oroko/README.md
Labels: Brute Force, Graph Traversal, Simulation, Java

#88 week10_lee-ji-an
  BOJ/BF/2580/lee-ji-an/2580.py
  BOJ/BF/2580/lee-ji-an/README.md
  BOJ/BFS/2573/lee-ji-an/2573.py
  BOJ/BFS/2573/lee-ji-an/README.md
  BOJ/BFS/2668/lee-ji-an/2668.py
  BOJ/BFS/2668/lee-ji-an/README.md
  BOJ/BFS/7569/lee-ji-an/7569.py
  BOJ/BFS/7569/lee-ji-an/README.md
  BOJ/Simulation/16974/lee-ji-an/16974.py
  BOJ/Simulation/19236/lee-ji-an/19236.py
  BOJ/Simulation/19236/lee-ji-an/README.md
  BOJ/Simulation/20061/lee-ji-an/20061.py
  BOJ/Simulation/20061/lee-ji-an/README.md
  Programmers/Graph/합승_택시_요금/lee-ji-an/README.md
  Programmers/Graph/합승_택시_요금/lee-ji-an/합승_택시_요금.py
Labels: Brute Force, Graph Traversal, Simulation, Python

#87 week10_PPakSang
  BOJ/BF/2580/PPakSang/Main.java
  BOJ/BF/2580/PPakSang/README.md
  BOJ/BFS/2573/PPakSang/Main.java
  BOJ/BFS/2573/PPakSang/README.md
  BOJ/BFS/2668/PPakSang/Main.java
  BOJ/BFS/2668/PPakSang/README.md
  BOJ/BFS/7569/PPakSang/Main.java
  BOJ/BFS/7569/PPakSang/README.md
  BOJ/BFS/9205/PPakSang/Main.java
  BOJ/BFS/9205/PPakSang/README.md
  BOJ/Simulation/19236/PPakSang/Main.java
  BOJ/Simulation/19236/PPakSang/README.md
  BOJ/Simulation/20061/PPakSang/Main.java
  BOJ/Simulation/20061/PPakSang/README.md
Labels: Brute Force, Simulation, Java

#90 week10_dltmdrl1244
  BOJ/BF/2580/dltmdrl1244/2580.py
  BOJ/BF/2580/dltmdrl1244/README.md
  BOJ/BFS/2573/dltmdrl1244/2573.py
  BOJ/BFS/2573/dltmdrl1244/README.md
  BOJ/BFS/2636/dltmdrl1244/2636.py
  BOJ/BFS/2636/dltmdrl1244/README.md
  BOJ/BFS/2668/dltmdrl1244/2668.py
  BOJ/BFS/2668/dltmdrl1244/README.md
  BOJ/BFS/7569/dltmdrl1244/7569.py
  BOJ/BFS/7569/dltmdrl1244/README.md
  BOJ/Simulation/17140/dltmdrl1244/17140.py
  BOJ/Simulation/17140/dltmdrl1244/README.md
  BOJ/Simulation/19236/dltmdrl1244/19236.py
  BOJ/Simulation/19236/dltmdrl1244/README.md
  BOJ/Simulation/20061/dltmdrl1244/20061.py
  BOJ/Simulation/20061/dltmdrl1244/README.md
Labels: Brute Force, Graph Traversal, Simulation, Python

#86 week10_hw0603
  BOJ/BF/2580/hw0603/2580.py
  BOJ/BF/2580/hw0603/README.md
  BOJ/BFS/2573/hw0603/2573.py
  BOJ/BFS/2573/hw0603/README.md
  BOJ/BFS/2668/hw0603/2668.py
  BOJ/BFS/2668/hw0603/README.md
  BOJ/BFS/7569/hw0603/7569.py
  BOJ/BFS/7569/hw0603/README.md
  BOJ/Simulation/19236/hw0603/19236.py
  BOJ/Simulation/19236/hw0603/README.md
  BOJ/Simulation/20061/hw0603/20061.py
  BOJ/Simulation/20061/hw0603/README.md
Labels: Brute Force, Graph Traversal, Simulation, Python

#95 week11_dltmdrl1244
  BOJ/Divide_and_Conquer/2374/dltmdrl1244/2374.py
  BOJ/Divide_and_Conquer/2374/dltmdrl1244/README.md
  BOJ/Greedy/2141/dltmdrl1244/2141.py
  BOJ/Greedy/2141/dltmdrl1244/README.md
  BOJ/Tree/1967/dltmdrl1244/1967.py
  BOJ/Tree/1967/dltmdrl1244/README.md
Labels: Python, Divide and Conquer, Greedy, Tree

#91 week11_dntmdxor99
  BOJ/Divide_and_Conquer/2374/dntmdxor99/2374.py
  BOJ/Divide_and_Conquer/2374/dntmdxor99/README.md
  BOJ/Greedy/2141/dntmdxor99/2141.py
  BOJ/Greedy/2141/dntmdxor99/README.md
  BOJ/Tree/1967/dntmdxor99/1967.py
  BOJ/Tree/1967/dntmdxor99/README.md
Labels: Python, Divide and Conquer, Greedy, Tree

#96 week11_lee-ji-an
  BOJ/BFS/2636/lee-ji-an/2636.py
  BOJ/BFS/2636/lee-ji-an/README.md
  BOJ/Divide_and_Conquer/2374/lee-ji-an/2374.py
  BOJ/Divide_and_Conquer/2374/lee-ji-an/README.md
  BOJ/Greedy/2141/lee-ji-an/2141.py
  BOJ/Greedy/2141/lee-ji-an/README.md
  BOJ/Tree/1967/lee-ji-an/1967.py
  BOJ/Tree/1967/lee-ji-an/README.md
Labels: Python, Divide and Conquer, Greedy, Tree

#94 week11_oroko
  BOJ/Divide_and_Conquer/2374/oroko/P2374.java
  BOJ/Divide_and_Conquer/2374/oroko/README.md
  BOJ/Greedy/2141/oroko/P2141.java
  BOJ/Greedy/2141/oroko/README.md
  BOJ/Tree/1967/oroko/P1967.java
  BOJ/Tree/1967/oroko/README.md
Labels: Java, Divide and Conquer, Greedy, Tree

#93 week11_PPakSang
  BOJ/Divide_and_Conquer/2374/PPakSang/Main2.java
  BOJ/Divide_and_Conquer/2374/PPakSang/README.md
  BOJ/Greedy/2141/PPakSang/Main.java
  BOJ/Greedy/2141/PPakSang/README.md
  BOJ/Tree/1967/PPakSang/Main.java
  BOJ/Tree/1967/PPakSang/README.md
Labels: Java, Divide and Conquer, Greedy, Tree

#97 week12_dltmdrl1244
  BOJ/Shortest_Path/1507/dltmdrl1244/1507.py
  BOJ/Shortest_Path/1507/dltmdrl1244/README.md
  BOJ/Tree/3584/dltmdrl1244/3584.py
  BOJ/Tree/3584/dltmdrl1244/README.md
  BOJ/Two_Pointer/7453/dltmdrl1244/7453.py
  BOJ/Two_Pointer/7453/dltmdrl1244/README.md
Labels: Python, Tree, Shortest Path, Two Pointer

#98 week12_oroko
  BOJ/Shortest_Path/1507/oroko/P1507.java
  BOJ/Shortest_Path/1507/oroko/README.md
  BOJ/Tree/3584/oroko/P3584.java
  BOJ/Tree/3584/oroko/README.md
  BOJ/Two_Pointer/7453/oroko/P7453.java
  BOJ/Two_Pointer/7453/oroko/README.md
Labels: Java, Tree, Shortest Path, Two Pointer

#100 week12_PPakSang
  BOJ/Shortest_Path/1507/PPakSang/Main.java
  BOJ/Shortest_Path/1507/PPakSang/README.md
  BOJ/Tree/3584/PPakSang/Main.java
  BOJ/Tree/3584/PPakSang/README.md
  BOJ/Two_Pointer/7453/PPakSang/Main.java
  BOJ/Two_Pointer/7453/PPakSang/README.md
Labels: Java, Tree, Shortest Path, Two Pointer

#101 week12_hw0603
  BOJ/Shortest_Path/1507/hw0603/1507.py
  BOJ/Shortest_Path/1507/hw0603/README.md
  BOJ/Tree/3584/hw0603/3584.py
  BOJ/Tree/3584/hw0603/README.md
  BOJ/Two_Pointer/7453/hw0603/7453.py
  BOJ/Two_Pointer/7453/hw0603/README.md
Labels: Python, Tree, Shortest Path, Two Pointer

#104 week13_PPakSang
  BOJ/week13/14267/PPakSang/Main.java
  BOJ/week13/14267/PPakSang/README.md
  BOJ/week13/17404/PPakSang/Main.java
  BOJ/week13/17404/PPakSang/Main2.java
  BOJ/week13/17404/PPakSang/README.md
  BOJ/week13/20440/PPakSang/Main.java
  BOJ/week13/20440/PPakSang/README.md
Labels: Java

#103 week13_dntmdxor99
  BOJ/week13/14267/dntmdxor99/14267.py
  BOJ/week13/14267/dntmdxor99/README.md
  BOJ/week13/17404/dntmdxor99/17404.py
  BOJ/week13/17404/dntmdxor99/README.md
  BOJ/week13/20440/dntmdxor99/20440.py
  BOJ/week13/20440/dntmdxor99/README.md
Labels: Python

#107 week13_hw0603
  BOJ/week13/14267/hw0603/14267.py
  BOJ/week13/14267/hw0603/README.md
  BOJ/week13/17404/hw0603/17404.py
  BOJ/week13/17404/hw0603/README.md
  BOJ/week13/20440/hw0603/20440.py
  BOJ/week13/20440/hw0603/README.md
Labels: Python

#106 week13_dltmdrl1244
  BOJ/week13/14267/dltmdrl1244/14267.py
  BOJ/week13/14267/dltmdrl1244/README.md
  BOJ/week13/17404/dltmdrl1244/17404.py
  BOJ/week13/17404/dltmdrl1244/README.md
  BOJ/week13/20440/dltmdrl1244/20440.py
  BOJ/week13/20440/dltmdrl1244/README.md
Labels: Python

#105 week13_oroko
  BOJ/week13/14267/oroko/P14267.java
  BOJ/week13/14267/oroko/P14267_dfsM.java
  BOJ/week13/14267/oroko/README.md
  BOJ/week13/17404/oroko/P17404.java
  BOJ/week13/17404/oroko/README.md
  BOJ/week13/20440/oroko/P20440.java
  BOJ/week13/20440/oroko/README.md
Labels: Java
