Repository lee-ji-an/Algorithm_Study, pull requests merged in 2023-02, with the labels that each got.

#39 week5-2_oroko
  BOJ/BFS/12906/oroko/P12906.java
  BOJ/BFS/12906/oroko/README.md
  BOJ/BFS/17142/oroko/P17142.java
  BOJ/BFS/17142/oroko/README.md
  BOJ/BFS/2234/oroko/P2234.java
  BOJ/BFS/2234/oroko/README.md
Labels: Graph Traversal, Java

#35 week5-2_hw0603
  BOJ/BFS/12906/hw0603/12906.py
  BOJ/BFS/12906/hw0603/README.md
  BOJ/BFS/17142/hw0603/17142.py
  BOJ/BFS/17142/hw0603/README.md
  BOJ/BFS/2234/hw0603/2234.py
  BOJ/BFS/2234/hw0603/README.md
Labels: Graph Traversal, Python

#37 week5-2_PPakSang
  BOJ/BFS/12906/PPakSang/Main.java
  BOJ/BFS/12906/PPakSang/README.md
  BOJ/BFS/17142/PPakSang/Main.java
  BOJ/BFS/17142/PPakSang/README.md
  BOJ/BFS/2234/PPakSang/Main.java
  BOJ/BFS/2234/PPakSang/README.md
Labels: Graph Traversal, Java

#38 week5-2_dltmdrl1244
  BOJ/BFS/12906/dltmdrl1244/12906.py
  BOJ/BFS/12906/dltmdrl1244/README.md
  BOJ/BFS/17142/dltmdrl1244/17142.py
  BOJ/BFS/17142/dltmdrl1244/README.md
  BOJ/BFS/2234/dltmdrl1244/2234.py
  BOJ/BFS/2234/dltmdrl1244/README.md
  Programmers/Graph/등산_코스_정하기/dltmdrl1244/118669.py
  Programmers/Graph/등산_코스_정하기/dltmdrl1244/README.md
  Programmers/Graph/합승_택시_요금/dltmdrl1244/72413.py
  Programmers/Graph/합승_택시_요금/dltmdrl1244/README.md
Labels: Graph Traversal, Python

#40 week5-2_lee-ji-an
  BOJ/BFS/12906/lee-ji-an/12906.py
  BOJ/BFS/12906/lee-ji-an/README.md
  BOJ/BFS/17142/lee-ji-an/17142.py
  BOJ/BFS/17142/lee-ji-an/README.md
  BOJ/BFS/2206/lee-ji-an/README.md
  BOJ/BFS/2234/lee-ji-an/2234.py
  BOJ/BFS/2234/lee-ji-an/README.md
Labels: Graph Traversal, Python

#42 week6-1_oroko
  BOJ/DP/10942/oroko/P10942.java
  BOJ/DP/10942/oroko/README.md
  BOJ/DP/11048/oroko/P11048.java
  BOJ/DP/11048/oroko/README.md
  BOJ/DP/11060/oroko/P11060.java
  BOJ/DP/11060/oroko/README.md
Labels: DP, Java

#43 week6-1_dltmdrl1244
  BOJ/DP/10942/dltmdrl1244/10942.py
  BOJ/DP/10942/dltmdrl1244/README.md
  BOJ/DP/11048/dltmdrl1244/11048.py
  BOJ/DP/11048/dltmdrl1244/README.md
  BOJ/DP/11060/dltmdrl1244/11060.py
  BOJ/DP/11060/dltmdrl1244/README.md
  BOJ/DP/11066/dltmdrl1244/11066.py
  BOJ/DP/11066/dltmdrl1244/README.md
  BOJ/DP/15989/dltmdrl1244/15989.py
  BOJ/DP/15989/dltmdrl1244/README.md
  BOJ/DP/15989/dltmdrl1244/image.jpg
Labels: DP, Python

#41 week6-1_hw0603
  BOJ/BFS/6087/hw0603/6087.py
  BOJ/BFS/6087/hw0603/README.md
  BOJ/DP/10942/hw0603/10942.py
  BOJ/DP/10942/hw0603/README.md
  BOJ/DP/11048/hw0603/11048.py
  BOJ/DP/11048/hw0603/README.md
  BOJ/DP/11060/hw0603/11060.py
  BOJ/DP/11060/hw0603/README.md
  BOJ/DP/15989/hw0603/15989.py
  BOJ/DP/15989/hw0603/README.md
Labels: DP, Python

#46 week_6_1_dntmdxor99
  BOJ/DP/10942/dntmdxor99/10942.py
  BOJ/DP/10942/dntmdxor99/README.md
  BOJ/DP/11048/dntmdxor99/11048.py
  BOJ/DP/11048/dntmdxor99/README.md
  BOJ/DP/11060/dntmdxor99/11060.py
  BOJ/DP/11060/dntmdxor99/README.md
Labels: DP, Python

#44 week6-1_PPakSang
  BOJ/DP/10942/PPakSang/Main.java
  BOJ/DP/10942/PPakSang/README.md
  BOJ/DP/11048/PPakSang/Main.java
  BOJ/DP/11048/PPakSang/README.md
  BOJ/DP/11060/PPakSang/Main.java
  BOJ/DP/11060/PPakSang/README.md
Labels: DP, Java

#45 week6-1_lee-ji-an
  BOJ/DP/10942/lee-ji-an/10942.py
  BOJ/DP/10942/lee-ji-an/README.md
  BOJ/DP/11048/lee-ji-an/11048.py
  BOJ/DP/11048/lee-ji-an/README.md
  BOJ/DP/11060/lee-ji-an/11060.py
  BOJ/DP/11060/lee-ji-an/README.md
  BOJ/DP/15989/lee-ji-an/15989.py
  BOJ/DP/15989/lee-ji-an/README.md
Labels: DP, Python

#48 week6-2_hw0603
  BOJ/DP/12865/hw0603/12865.py
  BOJ/DP/12865/hw0603/12865_opt.py
  BOJ/DP/12865/hw0603/README.md
  BOJ/DP/12869/hw0603/12869.py
  BOJ/DP/12869/hw0603/README.md
  BOJ/DP/1495/hw0603/1495.py
  BOJ/DP/1495/hw0603/README.md
Labels: DP, Python

#51 week6-2_dltmdrl1244
  BOJ/DP/12865/dltmdrl1244/12865.py
  BOJ/DP/12865/dltmdrl1244/README.md
  BOJ/DP/12869/dltmdrl1244/12869_1.py
  BOJ/DP/12869/dltmdrl1244/README.md
  BOJ/DP/1495/dltmdrl1244/1495.py
  BOJ/DP/1495/dltmdrl1244/README.md
Labels: DP, Python

#49 week6-2_dntmdxor99
  BOJ/DP/10942/dntmdxor99/10942.py
  BOJ/DP/11048/dntmdxor99/11048.py
  BOJ/DP/12865/dntmdxor99/12865.py
  BOJ/DP/12865/dntmdxor99/README.md
  BOJ/DP/12869/dntmdxor99/12869.py
  BOJ/DP/12869/dntmdxor99/README.md
  BOJ/DP/1495/dntmdxor99/1495.py
  BOJ/DP/1495/dntmdxor99/README.md
Labels: DP, Python

#52 week6-2_oroko
  BOJ/DP/12865/oroko/P12865.java
  BOJ/DP/12869/oroko/P12869.java
  BOJ/DP/1495/oroko/P1495.java
Labels: DP, Java

#53 week6-2_PPakSang
  BOJ/DP/12865/PPakSang/Main.java
  BOJ/DP/12865/PPakSang/README.md
  BOJ/DP/12869/PPakSang/Main.java
  BOJ/DP/12869/PPakSang/README.md
  BOJ/DP/1495/PPakSang/Main.java
  BOJ/DP/1495/PPakSang/README.md
Labels: DP, Java

#56 week7-1_dltmdrl1244
  BOJ/DP/11058/dltmdrl1244/11058.py
  BOJ/DP/11058/dltmdrl1244/README.md
  BOJ/DP/2294/dltmdrl1244/2294.py
  BOJ/DP/2294/dltmdrl1244/README.md
  BOJ/Simulation/16234/dltmdrl1244/16234.py
  BOJ/Simulation/16234/dltmdrl1244/README.md
  BOJ/Simulation/16235/dltmdrl1244/16235.py
  BOJ/Simulation/16235/dltmdrl1244/README.md
Labels: DP, Simulation, Python

#55 week7-1_dntmdxor99
  BOJ/DP/11058/dntmdxor99/11058.py
  BOJ/DP/11058/dntmdxor99/11058_short.py
  BOJ/DP/11058/dntmdxor99/README.md
  BOJ/DP/12869/dntmdxor99/README.md
  BOJ/DP/2294/dntmdxor99/2294.py
  BOJ/DP/2294/dntmdxor99/README.md
  BOJ/Simulation/16234/dntmdxor99/16234.py
  BOJ/Simulation/16234/dntmdxor99/README.md
Labels: DP, Simulation, Python

#57 week7-1_PPakSang
  BOJ/DP/11058/PPakSang/Main.java
  BOJ/DP/11058/PPakSang/README.md
  BOJ/DP/2294/PPakSang/Main.java
  BOJ/DP/2294/PPakSang/README.md
  BOJ/Simulation/16234/PPakSang/Main.java
  BOJ/Simulation/16234/PPakSang/README.md
Labels: DP, Simulation, Java

#59 week7-1_lee-ji-an
  BOJ/DP/11058/lee-ji-an/11058.py
  BOJ/DP/11058/lee-ji-an/README.md
  BOJ/DP/2294/lee-ji-an/2294-2.py
  BOJ/DP/2294/lee-ji-an/2294.py
  BOJ/DP/2294/lee-ji-an/README.md
  BOJ/Simulation/16234/lee-ji-an/16234.py
  BOJ/Simulation/16234/lee-ji-an/README.md
Labels: DP, Simulation, Python

#58 week7-1_oroko
  BOJ/DP/11058/oroko/P11058.java
  BOJ/DP/11058/oroko/README.md
  BOJ/DP/15989/oroko/P15989.java
  BOJ/DP/15989/oroko/README.md
  BOJ/DP/2294/oroko/P2294.java
  BOJ/DP/2294/oroko/README.md
  BOJ/DP/9251/oroko/P9251.java
  BOJ/DP/9251/oroko/README.md
  BOJ/Simulation/16234/oroko/P16234.java
  BOJ/Simulation/16234/oroko/README.md
Labels: DP, Simulation, Java

#54 week7-1_hw0603
  BOJ/DP/11058/hw0603/11058.py
  BOJ/DP/11058/hw0603/README.md
  BOJ/DP/2294/hw0603/2294.py
  BOJ/DP/2294/hw0603/README.md
  BOJ/Simulation/16234/hw0603/16234.py
  BOJ/Simulation/16234/hw0603/README.md
Labels: DP, Simulation, Python

#60 week7-2_hw0603
  BOJ/DP/5557/hw0603/5557.py
  BOJ/DP/5557/hw0603/README.md
  BOJ/DP/9252/hw0603/9252.py
  BOJ/DP/9252/hw0603/README.md
  BOJ/Simulation/17144/hw0603/17144.py
  BOJ/Simulation/17144/hw0603/README.md
Labels: DP, Simulation, Python

#63 week 7-2_lee-ji-an
  BOJ/DP/5557/lee-ji-an/5557.py
  BOJ/DP/5557/lee-ji-an/README.md
  BOJ/DP/9252/lee-ji-an/9252.py
  BOJ/DP/9252/lee-ji-an/README.md
  BOJ/Simulation/17144/lee-ji-an/17144.py
  BOJ/Simulation/17144/lee-ji-an/README.md
Labels: DP, Simulation, Python

#61 week_7-2_dntmdxor99
  BOJ/DP/5557/dntmdxor99/5557.py
  BOJ/DP/5557/dntmdxor99/README.md
  BOJ/DP/9252/dntmdxor99/9252.py
  BOJ/DP/9252/dntmdxor99/README.md
  BOJ/Simulation/17144/dntmdxor99/17144.py
  BOJ/Simulation/17144/dntmdxor99/README.md
Labels: DP, Simulation, Python

#64 week7-2_dltmdrl1244
  .gitignore
  BOJ/DP/5557/dltmdrl1244/5557.py
  BOJ/DP/5557/dltmdrl1244/README.md
  BOJ/DP/9252/dltmdrl1244/9252.py
  BOJ/DP/9252/dltmdrl1244/README.md
  BOJ/Simulation/17144/dltmdrl1244/17144.py
  BOJ/Simulation/17144/dltmdrl1244/README.md
Labels: DP, Simulation, Python

#65 week7-2_oroko
  BOJ/DP/5557/oroko/P5557.java
  BOJ/DP/5557/oroko/README.md
  BOJ/DP/9252/oroko/P9252.java
  BOJ/DP/9252/oroko/README.md
  BOJ/Simulation/17144/oroko/P17144.java
  BOJ/Simulation/17144/oroko/README.md
Labels: DP, Simulation, Java

#62 week_7-2_PPakSang
  BOJ/DP/5557/PPakSang/Main.java
  BOJ/DP/5557/PPakSang/README.md
  BOJ/DP/9252/PPakSang/Main.java
  BOJ/DP/9252/PPakSang/README.md
  BOJ/Simulation/17144/PPakSang/Main.java
  BOJ/Simulation/17144/PPakSang/README.md
Labels: DP, Simulation, Java

#71 week8-1_dltmdrl1244
  BOJ/BF/1182/dltmdrl1244/1182.py
  BOJ/BF/1182/dltmdrl1244/README.md
  BOJ/BF/6603/dltmdrl1244/6603.py
  BOJ/BF/6603/dltmdrl1244/README.md
  BOJ/Simulation/17780/dltmdrl1244/17780.py
  BOJ/Simulation/17780/dltmdrl1244/README.md
Labels: Brute Force, Simulation, Python

#69 week8-1_oroko
  BOJ/BF/1182/oroko/P1182.java
  BOJ/BF/1182/oroko/README.md
  BOJ/BF/6603/oroko/P6603.java
  BOJ/BF/6603/oroko/README.md
  BOJ/Simulation/17780/oroko/P17780.java
  BOJ/Simulation/17780/oroko/README.md
Labels: Brute Force, Simulation, Java

#66 week8-1_hw0603
  BOJ/BF/1182/hw0603/1182.py
  BOJ/BF/1182/hw0603/README.md
  BOJ/BF/6603/hw0603/6603.py
  BOJ/BF/6603/hw0603/README.md
  BOJ/Simulation/17780/hw0603/17780.py
  BOJ/Simulation/17780/hw0603/README.md
Labels: Brute Force, Python

#68 week8-1_lee-ji-an
  BOJ/BF/1182/lee-ji-an/1182.py
  BOJ/BF/1182/lee-ji-an/README.md
  BOJ/BF/6603/lee-ji-an/6603.py
  BOJ/BF/6603/lee-ji-an/6603_recursion.py
  BOJ/BF/6603/lee-ji-an/README.md
  BOJ/Simulation/17780/lee-ji-an/17780.py
  BOJ/Simulation/17780/lee-ji-an/README.md
Labels: Brute Force, Simulation, Python

#67 week_8-1_dntmdxor99
  BOJ/BF/1182/dntmdxor99/1182.py
  BOJ/BF/1182/dntmdxor99/README.md
  BOJ/BF/14225/dntmdxor99/14225.py
  BOJ/BF/14225/dntmdxor99/README.md
  BOJ/BF/6603/dntmdxor99/6603.py
  BOJ/BF/6603/dntmdxor99/README.md
  BOJ/Simulation/17780/dntmdxor99/17780.py
  BOJ/Simulation/17780/dntmdxor99/README.md
Labels: Brute Force, Simulation, Python

#73 week8-2_dntmdxor99
  BOJ/BF/14500/dntmdxor99/14500.py
  BOJ/BF/14500/dntmdxor99/README.md
  BOJ/BF/14888/dntmdxor99/14888.py
  BOJ/BF/14888/dntmdxor99/README.md
  BOJ/Simulation/17822/dntmdxor99/17822.py
  BOJ/Simulation/17822/dntmdxor99/README.md
Labels: Brute Force, Simulation, Python

#77 week8-2_lee-ji-an
  BOJ/BF/14500/lee-ji-an/14500.py
  BOJ/BF/14500/lee-ji-an/README.md
  BOJ/BF/14888/lee-ji-an/14888.py
  BOJ/BF/14888/lee-ji-an/README.md
  BOJ/Simulation/17822/lee-ji-an/17822.py
  BOJ/Simulation/17822/lee-ji-an/README.md
Labels: Brute Force, Simulation, Python

#72 week8-2_hw0603
  BOJ/BF/14500/hw0603/14500.py
  BOJ/BF/14500/hw0603/README.md
  BOJ/BF/14888/hw0603/12888.py
  BOJ/BF/14888/hw0603/README.md
Labels: Brute Force, Simulation, Python

#76 week8-2_dltmdrl1244
  BOJ/BF/14500/dltmdrl1244/14500.py
  BOJ/BF/14500/dltmdrl1244/README.md
  BOJ/BF/14888/dltmdrl1244/14888.py
  BOJ/BF/14888/dltmdrl1244/README.md
  BOJ/Simulation/17822/dltmdrl1244/17822.py
  BOJ/Simulation/17822/dltmdrl1244/README.md
Labels: Brute Force, Simulation, Python

#74 week8-2_oroko
  BOJ/BF/14500/oroko/P14500.java
  BOJ/BF/14500/oroko/README.md
  BOJ/Simulation/17822/oroko/P17822.java
  BOJ/Simulation/17822/oroko/README.md
Labels: Brute Force, Simulation, Java

#75 week8-2_PPakSang
  BOJ/BF/14500/PPakSang/Main.java
  BOJ/BF/14500/PPakSang/README.md
  BOJ/BF/14888/PPakSang/Main.java
  BOJ/BF/14888/PPakSang/README.md
  BOJ/Simulation/17822/PPakSang/Main.java
  BOJ/Simulation/17822/PPakSang/README.md
Labels: Brute Force, Simulation, Java

#79 week8-2_hw0603 (누락 문제 추가)
  BOJ/Simulation/17822/hw0603/17822.py
  BOJ/Simulation/17822/hw0603/README.md
Labels: Brute Force, Simulation, Python

#84 week9-1_PPakSang
  BOJ/BF/16197/PPakSang/Main.java
  BOJ/BF/16197/PPakSang/README.md
  BOJ/BF/9663/PPakSang/Main.java
  BOJ/BF/9663/PPakSang/README.md
  BOJ/Simulation/16974/PPakSang/Main.java
  BOJ/Simulation/16974/PPakSang/README.md
Labels: Brute Force, Simulation, Java

#78 week9-1_dntmdxor99
  BOJ/BF/16197/dntmdxor99/16197.py
  BOJ/BF/16197/dntmdxor99/README.md
  BOJ/BF/9663/dntmdxor99/9663.py
  BOJ/BF/9663/dntmdxor99/README.md
  BOJ/Simulation/16974/dntmdxor99/16974.py
  BOJ/Simulation/16974/dntmdxor99/README.md
Labels: Brute Force, Simulation, Python

#82 week9-1_oroko
  BOJ/BF/16197/oroko/P16197.java
  BOJ/BF/16197/oroko/README.md
  BOJ/BF/9663/oroko/P9663.java
  BOJ/BF/9663/oroko/P9663_1.java
  BOJ/BF/9663/oroko/README.md
  BOJ/Simulation/16974/oroko/P16974.java
  BOJ/Simulation/16974/oroko/README.md
Labels: Brute Force, Simulation, Java

#83 week9-1_dltmdrl1244
  BOJ/BF/16197/dltmdrl1244/16197.py
  BOJ/BF/16197/dltmdrl1244/README.md
  BOJ/BF/9663/dltmdrl1244/9663.py
  BOJ/BF/9663/dltmdrl1244/README.md
  BOJ/Simulation/16974/dltmdrl1244/16974.py
  BOJ/Simulation/16974/dltmdrl1244/README.md
Labels: Brute Force, Simulation, Python

#81 week9-1_lee-ji-an
  BOJ/BF/14500/lee-ji-an/14500.py
  BOJ/BF/16197/lee-ji-an/16197.py
  BOJ/BF/16197/lee-ji-an/README.md
  BOJ/BF/9663/lee-ji-an/9663.py
  BOJ/BF/9663/lee-ji-an/README.md
  BOJ/Simulation/16974/lee-ji-an/16974.py
  BOJ/Simulation/16974/lee-ji-an/README.md
  BOJ/Simulation/17822/lee-ji-an/17822.py
  BOJ/Simulation/17822/lee-ji-an/README.md
Labels: Brute Force, Simulation, Python

#80 week9-1_hw0603
  BOJ/BF/16197/hw0603/16197.py
  BOJ/BF/16197/hw0603/README.md
  BOJ/BF/9663/hw0603/9663.py
  BOJ/BF/9663/hw0603/README.md
  BOJ/Simulation/16974/hw0603/16974.py
  BOJ/Simulation/16974/hw0603/README.md
Labels: Brute Force, Simulation, Python
